body {
	font-family: 'Shadows Into Light', cursive;
	background-image: url("http://upload.wikimedia.org/wikipedia/commons/e/eb/Map_of_New_Zealand_%28blank%29.svg"), width="80%" ;

}

header {
	text-align: center;

}