body {
	font-family: 'Shadows Into Light', cursive;
	background-image: url("https://farm6.staticflickr.com/5552/14508238748_f74b022ef5_o.png");
	background-attachment: scroll;
	background-position: center 200px;
	
	border: 25px solid #FFF;

	
	
}

header {
	text-align: right;
	/*border-bottom: 10px double #fff;*/
	/*color: #3399FF;*/
	color: #3399FF;
	background-color: #FFF;
	/*background: rgba(145, 145, 145, 1);*/
	/*background-color: rgba(192, 192, 192, 0.8);*/
	
	
	margin:0px;
	padding:0% 2% 2% 2%;
	
}

#header_image {
	float: left;
	border-radius: 10px;
	margin: 2%;
	display: inline;
	border-radius: 5px;
	
}

aside {
	border: 2px solid #fff;
	border-radius: 5px;
	float: right;
	margin-right: 2%;
	margin-top: 2%;
	padding: 2%;
	width: 52%;
	
	background-color: rgba(245, 245, 245, 0.8);
	font-size: 18px;
}


ul#menu, ul#menu ul.sub-menu {
    padding-bottom:50px;
    margin: 0;
}
ul#menu li, ul#menu ul.sub-menu li {
    list-style-type: none;
    float: left;
}
/*Link Appearance*/
ul#menu li a, ul#menu li ul.sub-menu li a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    background: rgba(145, 145, 145, 1);
    border-radius: 5px;
    
    display:inline-block;
}
ul#menu li ul.sub-menu li a {
	padding-top: 1%;
    padding-bottom: 1%;
}

ul#menu li ul.sub-menu li img {
	border-radius: 5px;
}
.sub-menu {
	
}
/*Make the parent of sub-menu relative*/
ul#menu li {
    position: relative;
}
/*sub menu*/
ul#menu li ul.sub-menu {
    display:none;
    position: absolute;
    top: 150px;
    left: 0px;
    width: 800px;
    text-align: center;
}
ul#menu li:hover ul.sub-menu {
    display:block;
}

h1 {
	
	font-size: 60px;
	text-align: right;
}

#square_image {
	border-radius: 10px;
	width: 120px;
	height: 120px;
}

#circle_image {
	width: 120px;
	height: 120px;
	border-radius: 60px;
}

.intro_para {
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
	font-size: 1em;
	color: #6600CC;
	border-bottom: 5px solid #333; 
	width: 100%;
	background-color: rgba(192, 192, 192, 0.8);

}

h2 {
	text-align: center;
	text-decoration: underline;
	font-size: 22px;
	color: #3399FF;

}

.blogs {
	clear:both;
	float:left;
	width: 30%;
	margin: 2% 2% 8% 2%;
	text-align: left;
	font-size: 18px;
	border: 2px solid #fff;
	border-radius: 5px;
	/*background-image: url("http://upload.wikimedia.org/wikipedia/commons/e/eb/Map_of_New_Zealand_%28blank%29.svg");
	background-size: cover;
	background-position: top;*/
	background-color: rgba(192, 192, 192, 0.8);
	padding: 2%;
}

#about_imgs {
	display: inline-block;
}


/*.section_1 {
	clear:both;
}
.week_1 {
	float:left;
	width: 10%;
	margin: 2% 8% 8% 2%;
	text-align: center;

}

.section_2 {
	clear:both;
}


.week_2 {
	float:left;
	width: 15%;
	margin: 2% 8% 8% 2%;
	text-align: center;
}

.section_two_blogs {
	clear:both;
}

.week_two_blogs {
	float:left;
	
	text-align: center;
}

.float_right {
	float: right;
	text-align: center;
}*/



.footer_links {
	float: left;
	width: 30%;
	margin-left: 2%;
	
	background: rgba(145, 145, 145, 0.8);
	border-radius: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}

footer {
	clear:both;
	text-align: center;
	margin-bottom: 5%;
}


